<!DOCTYPE html>
<html lang="en">
	<head>
		<title>FTS</title>
		<meta charset="utf-8">
		<meta name="robots" content="noindex, nofollow">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
		<link rel="icon" href="https://www.pinclipart.com/picdir/big/109-1098476_checklist-poll-task-to-do-list-clipboard-comments.png">
		
		<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
		
		<script src="{{ url_for('static', filename='js/utils.js') }}" defer></script>
		<script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
	</head>
	<body class="noselect">
		<main>
			{% for task in fts.tasks recursive %}
			<div id="{{ task.id }}" class="task{{ ' ignore' if task.priority < 0 }}">
				<div class="task-content">
					<span class="task-id">{{ task.id }}</span>
					<span class="content">{{ task.content }}</span>
				</div>
				
				{% if task.scheduler %}
				<div class="task-schedule{{ ' now' if task.call_scheduler()[0] }}">{{ task.call_scheduler()[1] }}</div>
				{% endif %}
				
				{{ loop(task.subtasks) }}
			</div>
			{% endfor %}
			
			{% if not fts.tasks %}
			<div class="no-tasks">no tasks???</div>
			{% endif %}
		</main>
		
		<div class="controls hidden">
			<div class="btn edit-btn">Edit</div>
			<div class="btn insert-btn">Insert</div>
			<div class="btn delete-btn">Delete</div>
			<div class="close-btn"></div>
		</div>
	</body>
</html>
